body {
  font-family: Helvetica;
  /*font-family: Nanum Myeongjo;*/
  /*font-size: 13px;*/
}

p {
  font-weight: 100;
}

h1 {
  /*font-family: Nanum Myeongjo;*/
  font-weight: 300;
}

.bold {
  font-weight: 500;
}

.menu {
  font-family: VT323;
  float: right;
  margin-top: 30px;
  margin-right: 20px;
  text-align: right;
  width: 150px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu li a {
  display: inline-block;
  /*color: #0864c7;*/
  color: #5158ff;
  text-decoration: none;
}

.menu li a:hover {
  color: #f3779a;
}

.left {
  height: 1px;
  float: left;
  display: block;
  min-width: 0;
  overflow: hidden;
  width: 200px;
  margin: 0;
  padding: 0;
}

.content {
  margin-top: 15px;
  float: left;
  width: 500px;
}

.post {
  padding: 30px;
  margin: 30px;
}

img {
  /*display: block;*/
  /* max-width: 100%; */
  max-width: 100%;
  /*width: 500px;*/
  /*padding: 30px;
    margin: 30px;*/
}

.bookgrid {
  display: grid;
  grid-template-columns: auto auto auto;
}

.bookpost {
  width: 300px;
}

.booktitle {
  text-align: center;
}

.bookcover {
  display: block;
  width: 200px;
  margin: auto;
}

.workImage {
  /* display: block;
  margin: auto; */
  width: 800px;
}

/* .socialLogo {
  max-width: 40px;
} */

/*
  #post1 {
      background-color: yellow;
  }

  #post2 {
      background-color: pink;
  }*/

/*
  #content h1, #content h2, #content h3 {
    margin: 0;
  }
  
  #content h2 {
    margin-top: 2em;
  }
  
  #content .byline, #content .byline a, #content .note {
    font-size: 10px;
    color: #aaa;
  }
  
  #content p, #content ul {
    color: #333;
    line-height: 18px;
  }
  
  #content sup.note {
    display: inline-block;
    margin-top: -5px;
  }
  
  #content p.notop {
    margin-top: 0;
  }
  
  #content .thanks {
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid #eee;
    margin-bottom: 4em;
    font-size: smaller;
    color: #777;
  }
  
  #content .thanks a {
    color: #777;
  }
  
  #content li {
    margin-bottom: 0.7em;
  }
  
  .post + .post {
    margin-top: 50px;
  }
  
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub { 
    top: 0.4em; 
  }*/
